.header-container-content {
     color: black;
}

.a1 {
    color: black;
}

h1 {
    font-size: 42px;
    font-weight: 480;
    letter-spacing: 2px;
    color: #fff;
    font-family: 'Gotham SSm', sans-serif;
    animation-delay: 0.2s;
    line-height: 25px;
}

p {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
    font-family: 'Gotham SSm', sans-serif;
    animation-delay: 0.9s;
}


.animate__animated.animate__fadeInUp {
 --animation-duration: 0.08s;
}

.border-bottom {
    border-bottom: 2px solid black;
}